#
# Service: proxy-scanner
# The following values may be set or changed to configure the proxy-scanner service
#
replicaCount: 1
image: lacework/proxy-scanner-private

# CK: Should have config map here too

name: lacework-proxy-scanner
serviceAccount:
  enabled: true

certs:
  serverCertificate:
  serverKey: